<li>
  <p class="col-sm-6">
    <%- songsSorted.title %>
  </p>
  <p class="col-sm-6">
    <%if(Math.floor(songsSorted.length / 60) < 10){ %>
    <%- "0" +  Math.floor(songsSorted.length / 60) %>
    <%}else{%>
    <%- Math.floor(songsSorted.length / 60) %>
    <%}%>
    :
    <%if(Math.floor(songsSorted.length % 60) < 10){ %>
    <%- "0" +  Math.floor(songsSorted.length % 60) %>
    <%}else{%>
    <%- Math.floor(songsSorted.length % 60) %>
    <%}%>
  </p>
</li>
